<div class="h-screen w-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
      <h2 class="text-2xl font-semibold text-center mb-6">
        ¿Olvidaste tu <br />
        contraseña?
      </h2>
      <form [formGroup]="recoveryPasswordForm" (ngSubmit)="sendMail()">
        <div class="flex items-center w-full">
          <div class="grid grid-cols-1 gap-1 w-full">
            <div class="h-20 w-full">
              Correo electrónico :<br />
              <input
                type="text"
                id="user"
                name="user"
                formControlName="user"
                class="mt-1 block w-full p-3 border border-gray-300 rounded-md focus: outline-none focus: ring"
                placeholder="Ingresa tu correo electrónico"
              />
            </div>
 

          </div>
        </div>
        <div class="pt-6">
          <button
            type="submit"
            class="w-full bg-indigo-600 text-white p-3 rounded-md hover: bg-indigo-700 focus: outline-none"
          >
            Enviar
          </button>
        </div>
      </form>
      <br />
      <div *ngIf="message" class="success-message">{{ message }}</div>
      <div *ngIf="error" class="error-message">{{ error }}</div>
    </div>
  </div>
  